<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UAS_PV_20_06.Properties.Settings.CafeConnectionString"
            connectionString="Data Source=LAPTOP-B3L7IVID\SQLEXPRESS;Initial Catalog=Cafe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>